<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
<title>Contact</title> 

	<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/css/superfish.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/css/prettyPhoto.css" media="screen"/>


	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.nivo.slider.js"></script>
	<script type="text/javascript" src="/js/hoverIntent.js"></script>
	<script type="text/javascript" src="/js/superfish.js"></script>
	<script type="text/javascript" src="/js/jquery.jcarousel.js"></script>
	<script type="text/javascript" src="/js/jquery.tweet.js"></script>
	<script type="text/javascript" src="/js/jflickrfeed.js"></script>
	<script type="text/javascript" src="/js/jquery.masonry.min.js"></script>
	<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="/js/slides.min.jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.quicksand.js"></script>
	<script type="text/javascript" src="/js/jquery.contact.js"></script>
	<script type="text/javascript" src="/js/jquery.preloadify.min.js"></script>
	
	<script type="text/javascript" src="/js/custom.js"></script>

</head> 

<body> 
<div id="wrapper">
	<div id="top">
		<header id="header">
			<div class="one-fourth">
				<div class="logo"><a href="index_eng.html"><img src="images/logo.png" alt="" /></a></div>
			</div>
			
			<div class="three-fourth column-last">
				<nav id="navigation">
					<ul id="mainnav">
						<li><a href="index_eng.html">HOME</a></li>
						<li><a class="current" href="contact_eng.html">CONTACT</a></li>
						<li><a href="index.html">POLISH</a></li>
					</ul>
				</nav>
			</div>
		</header>

		<section class="page-title">
			<div class="double-separator"></div>
			<div class="breadcrumbs">
				<div class="one-half alignleft">
					<a href="index_eng.html">Home</a>
					<img src="images/breadcrumb-arrow.png" alt="" />
					Contact
				</div>
				
				<div class="one-half column-last alignright">
					
				</div>
			</div>
			<div class="double-separator"></div>
		</section>
	</div><!--end top-->
	
	<div class="centered-wrapper">	

		<div class="contact-map">
			<iframe width="940" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2468.6184226002274!2d19.48481541574724!3d51.7765825796803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471bcb3c7baa9079%3A0x7bc825b22303574d!2sWydzia%C5%82+Matematyki+i+Informatyki+Uniwersytetu+%C5%81%C3%B3dzkiego!5e0!3m2!1spl!2spl!4v1537736491909"></iframe>
		</div>
	<h3>Author of the project:</h3>
					<p><span>Name:</span> Tatsiana Sauko</p>
					<p><span>Number of index:</span> 351396</p>
					<p><span>Email:</span> <a href="mailto:">savko_t@mail.ru</a> </p>
					
				<h3>Faculty of Mathematics and Computer Science, University of Lodz:</h3>
				<p>Stefana Banacha 22<br /> 				
				90-238 Łódź, Poland <br />
				42 635 59 49<br />
				<br /></p>
				
			
		<div class="one-fourth">								
		</div><!--end one-fourth-->
	</div><!--end centered-wrapper-->

	<div class="centered-wrapper">
	
		<footer id="footer">
			<div class="double-separator"></div>
			<div id="topfooter">
				<div class="one-fourth">
					<h3>A Few Words About</h3>
					<p>Spring Boot 2 branches. <br>
					Mybatis. <br>
					 Flyway. <br>
					 5 Tables. <br>
					 Front. <br>
					 Jquery. <br>
					 </p>
				</div><!--end one-fourth-->
					<h3>Contact</h3>
					<p>Address:
					Łódź,  <br />
					Matejki street 21/23, Poland 90-231</p>
					<p>Phone: +48516189366 </p>
					<p>E-mail: <a href="mailto:">savko_t@mail.ru</a><br />
				</div><!--end one-fourth-->
				
			
		
			<div id="bottomfooter">			
				<div class="one-half">
					<p>Copyright &copy; 2018 - Final project | Tatsiana Sauko | All Rights Reserved</p>
				</div><!--end one-half-->
			</div><!--end bottomfooter-->	
			</div>	
		</footer>
		
	</div><!--end centered-wrapper-->
</div>
</body> 
</html>
